
<form [formGroup]="angForm" novalidate>
    <div class="row text-center">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control mb-6" mask="000.000.000-00" placeholder="CPF" formControlName="cpf" #cpf>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary" (click)="findByCpf()">Consultar</button>
        </div>    
    </div>
</form>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>CPF</th>
          <th>Telefone 1</th>
          <th>Telefone 2</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients">
          <td>{{client.nome}}</td>
          <td>{{client.cpf | mask:'000.000.000-00'}}</td>
          <td>{{client.telefone1 | mask:'(00) 00000-0000'}}</td>
          <td>{{client.telefone2 | mask:'(00) 00000-0000'}}</td>
          <td><button class="btn btn-danger" (click)="delete(client)">Excluir</button></td>
          <td><button class="btn btn-primary" (click)="update(client)">Editar</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ul class="pagination justify-content-center">
  <li class="page-item"><a (click)="previousClick()" class="page-link">Anterior</a></li>
  <li *ngFor='let index of pageIndexes' class="page-item" [ngClass]="active(index)">
          <a (click)="getPaginationWithIndex(index)" class="page-link">
            {{index + 1}}
          </a>
  </li>
  <li class="page-item"><a (click)="nextClick()" class="page-link">Seguinte</a></li>
</ul>