<div class="login-container">
    <!-- <div>
        User Name : <input type="text" name="username" [(ngModel)]="username">
        Password : <input type="password" name="password" [(ngModel)]="password">
    </div>
    <button (click)=checkLogin() class="btn btn-success">
        Login
    </button> -->
    <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Usuário:</label>
            <input type="text" name="username" [(ngModel)]="username" required class="form-control">
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label>Senha:</label>
            <input type="password" name="password" [(ngModel)]="password" required class="form-control">
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <button (click)=checkLogin() class="btn btn-success pull-right">Login</button>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
</div>