<fieldset class="border p-2">
    <legend class="w-auto">Usuário</legend>
  <div class="col-md-6">
    <div class="p-2 bd-highlight justify-content-lg-center">
        <form>
            <div class="form-group">
              <label for="nome">Nome:</label>
              <input type="text" [(ngModel)]="client.nome" placeholder="Nome" name="client.nome" class="form-control form-control-sm"
                id="client.nome" >
            </div>
      
            <div class="form-group">
              <label for="cpf">CPF:</label>
              <input type="tel" [(ngModel)]="client.cpf" placeholder="cpf" name="cpf" class="form-control form-control-sm" id="cpf">
            </div>
      
            <div class="form-group">
              <label for="Telefone1">Telefone1:</label>
              <input type="text" [(ngModel)]="client.Telefone1" placeholder="Telefone1" name="Telefone1" class="form-control form-control-sm"
                id="Telefone1">
            </div>
      
            <div class="form-group">
                <label for="Telefone2">Telefone2:</label>
                <input type="text" [(ngModel)]="client.Telefone2" placeholder="Telefone2" name="Telefone2" class="form-control form-control-sm"
                  id="Telefone2">
              </div>
        
            <div class="text-right">
                <div class="btn-group mr-2" role="group">
                    <button type="button" class="btn btn-success">Save</button>
                  </div>
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-danger">Cancel</button>
                  </div>
            </div>
          </form>
    </div>
  </div>
</fieldset>
<div class="text-center">
  <app-client></app-client>
</div>