<fieldset class="border p-2">
    <legend class="w-auto">Cliente</legend>
    <div class="container">
        <form class="form-inline">
            <div class="form-group mb-2">
                <label for="staticEmail2" class="sr-only">Nome</label>
                <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <label for="inputPassword2" class="sr-only">CPF</label>
                <input type="text" class="form-control" id="inputPassword2" placeholder="CPF">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Buscar Cliente</button>
        </form>
    </div>
</fieldset>
